<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Library Management System - All rights reserved. - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
    </div>
</footer>
