@* <html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body><h1>hosgeldinizzzz</h1></body>
</html> *@

<!DOCTYPE html>
    <html>
    <head>
        <title>ornek</title> 
    </head>
    <body>
    <h1>welcome</h1>
    </body>
    </html>