@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
   
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h1 class=" text-center card-title my-2"> Library System</h1>
            <div class="card">
                <!-- resmi ekledim -->
                <img src="~/images/book-image.jpg"  style="height:400px;" class="card-img-top mx-auto d-block" alt="Book Image">
                <div class="card-body text-center">
                    <h6 class="card-title display-5">About us</h6>
                    <p class="card-text">"A room without books is like a body without a soul." - Marcus Tullius Cicero</p>
                    <a asp-controller="Book" class="btn btn-primary btn-lg">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>
