@model ProductViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>@product.Name - @product.Price</li>
        }
    </ul>
</body>
</html>